@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #FAF5FF;
    color: #4C1D95;
}