@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: "Plus Jakarta Sans", sans-serif;

    --color-primary: #7C3AED;
    --color-secondary: #A78BFA;
    --color-cta: #F97316;
    --color-background: #FAF5FF;
    --color-brandText: #4C1D95;
    --color-muted: #6B7280;
}

body {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-brandText);
}